.btn-blue {
	background-color: rgb(139, 186, 187);
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: roboto, sans-sherif;
	
}

.btn-blue:hover {
	color: black;
}